<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Template variables</string>
	<key>ThemeIdentifier</key>
	<string>com.ollicle.themes.template-variables</string>
	<key>CreatorHomePage</key>
	<string>https://ollicle.com/</string>
	<key>CreatorName</key>
	<string>Oliver Boermans</string>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
